<!DOCTYPE html>
<html>
<head>
    <title>裁床单管理-裁床单详情-派发</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">裁床单详情id</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ detail_id }}" name="detailId" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">车工</label>
                    <div class="layui-input-block">
                        <select name="staffId" lay-verify="required">
                            <option value="">请选择车工</option>
                            {% for staff in staffs %}
                                <option value="{{ staff.id }}" >{{ staff.staff_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="dispatch-put">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;


        form.on('submit(dispatch-put)', function (data) {
            console.log(data.field);
            $.ajax({
                url: '/system/factory/cutting_bed_management/detail/no/dispatch_update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload('cutting-table');
                        });
                    } else {
                        layer.msg(result.msg, { icon: 2, time: 1000 });
                    }
                },
                error: function () {
                    layer.msg('网络或服务器错误，请稍后再试', { icon: 2, time: 1000 });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>