<!DOCTYPE html>
<html>
<head>
    <title>财务统计-收支统计</title>
    {% include 'system/common/header.html' %}</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">年月</label>
                <div class="layui-input-inline">
                    <input type="text" name="yearMonth" id="yearMonth" placeholder="请选择年月" autocomplete="off"
                           class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="finance-statistics-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="statistics-table" lay-filter="statistics-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="finance-statistics-table">
    {% if authorize("system:finance_statistics:statistics:create") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="create"><i
                class="layui-icon"> 生成上月收支统计数据 </i>
        </button>
    {% endif %}
    {% if authorize("system:finance_statistics:statistics:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="add"><i
                class="layui-icon"> 新增其他收入 </i>
        </button>
    {% endif %}
</script>

<script type="text/html" id="finance-bar">
    {% if authorize("system:finance_statistics:statistics:detail") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="detail"><i
                class="layui-icon"> 其他收入详情 </i>
        </button>
    {% endif %}
</script>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;
        let common = layui.common;

        let MODULE_PATH = '/system/factory/finance_statistics/statistics/'

        let cols = [
            [
                {title: '序号', type: 'numbers', align: 'center'},
                {title: '年份', field: 'year', align: 'center'},
                {title: '月份', field: 'month', align: 'center'},
                {title: '客户收入', field: 'client_payment_factory', align: 'center'},
                {title: '其它收入', field: 'other_income', align: 'center'},
                {title: '工资支出', field: 'employee_wage_expenses', align: 'center'},
                {title: '客户支出', field: 'factory_payment_client', align: 'center'},
                {title: '其它支出', field: 'other_expenses', align: 'center'},
                {title: '结余', field: 'cash_surplus', align: 'center'},
                {title: '操作', toolbar: '#finance-bar', align: 'center', width: 240}
            ]
        ]

        table.render({
            elem: '#statistics-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#finance-statistics-table',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        })

        table.on('tool(statistics-table)', function (obj) {
            if (obj.event === 'detail') {
                 window.location.href = '/system/factory/finance_statistics/statistics/detail/main/' + obj.data['id']
            }
        })

        table.on('toolbar(statistics-table)', function (obj) {
            if (obj.event === 'add') {
                window.add(obj)
            } else if (obj.event === 'create') {
                window.create(obj)
            }
        })

        form.on('submit(finance-statistics-query)', function (data) {
            table.reload('statistics-table', {where: data.field})
            return false
        })

        window.create = function (obj) {
            layer.confirm('确定要生成上月收支统计数据？', {icon: 3, title: '提示'}, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({
                    url: MODULE_PATH + 'create_save',
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('statistics-table')
                            })
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000})
                        }
                    }
                })
            })
        }

        window.add = function (obj) {
            layer.open({
                type: 2,
                title: '新增其他收入',
                shade: 0.2,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'add',
            })
        };

        window.refresh = function () {
            table.reload('statistics-table')
        }
    })
</script>
<script>
    layui.use('laydate', function () {
        let laydate = layui.laydate;
        let $ = layui.$;

        laydate.render({
            elem: '#yearMonth',
            type: 'month',
        });

        $(document).dblclick(function(e){
            var target = $(e.target);
            if(target.hasClass('laydate-day') && !target.hasClass('laydate-disabled')){
                var date = target.text();
                var input = target.closest('.laydate').prev();
                laydate.now(new Date(date));
                input.val(date);
            }
        });
    });
</script>
</html>