<!DOCTYPE html>
<html>
<head>
    <title>财务统计-其它支出-修改</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">id</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ other_detail.id }}" name="id" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类别：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ other_detail.category }}" name="category" lay-verify="required"
                               autocomplete="off" placeholder="请输入类别（如：生产材料、厨房用品等）" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">名称：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ other_detail.name }}" name="name" lay-verify="required"
                               autocomplete="off" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单价：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ other_detail.unit_price }}" name="unitPrice" lay-verify="required"
                               autocomplete="off" placeholder="请输入单价(元)" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">数量：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ other_detail.quantity }}" name="quantity" lay-verify="required"
                               autocomplete="off" placeholder="请输入数量" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ other_detail.unit }}" name="unit"
                               autocomplete="off" placeholder="请输入单位（如：个、包、盒等）" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="other-expenses-detail-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(other-expenses-detail-update)', function (data) {
            console.log(data.field);
            $.ajax({
                url: '/system/factory/finance_statistics/other_expenses/detail/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload('finance-other-expenses-detail-table');
                        });
                    } else {
                        layer.msg(result.msg, { icon: 2, time: 1000 });
                    }
                },
                error: function () {
                    layer.msg('网络或服务器错误，请稍后再试', { icon: 2, time: 1000 });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>