<!DOCTYPE html>
<html>
<head>
    <title>订单管理-修改订单信息（订单状态：订单提交;外发客户制作订单）</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">订单id</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ order.id }}" name="id" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">订单详情id</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ details[0].id }}" name="detailsId" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">款号：</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                            {{ order.product_model_number }}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户姓名：</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                            {{ current_client_names[0].client_name }}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户单价：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ order.order_client_unit_price }}" name="orderClientUnitPrice" lay-verify="required"
                               autocomplete="off" placeholder="请输入客户给出的单价" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">货期：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ current_delivery_date }}" id="delivery_date" name="deliveryDate"
                               autocomplete="off" placeholder="请选择货期" class="layui-input" >
                        //货期为空时，默认选中：1900-01-01
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">外发客户：</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                            {{ sewing_client_names.client_name }}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">外发数量：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ order.order_client_number }}" name="externalClientNumber" lay-verify="required"
                               autocomplete="off" placeholder="请输入外发的数量" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">外发单价：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ details[0].external_client_unit_price }}" name="externalClientUnitPrice" lay-verify="required"
                               autocomplete="off" placeholder="请输入外发的单价" class="layui-input" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="order-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(order-update)', function (data) {
            console.log(data.field);
            $.ajax({
                url: '/system/factory/order_management/edit/update_sewing_client',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload('order-table');
                        });
                    } else {
                        layer.msg(result.msg, { icon: 2, time: 1000 });
                    }
                },
                error: function () {
                    layer.msg('网络或服务器错误，请稍后再试', { icon: 2, time: 1000 });
                }
            });
            return false;
        });
    });
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var $ = layui.$;

        laydate.render({
            elem: '#delivery_date',
            type: 'date',
            format: 'yyyy-MM-dd',
        });

        $(document).dblclick(function(e){
            var target = $(e.target);
            if(target.hasClass('laydate-day') && !target.hasClass('laydate-disabled')){
                var date = target.text();
                var input = target.closest('.laydate').prev();
                laydate.now(new Date(date));
                input.val(date);
            }
        });
    });
</script>
</body>
</html>