<!DOCTYPE html>
<html>
<head>
    <title>尺码管理-修改尺码信息</title>
    {% include 'system/common/header.html' %}</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ product_model.id }}" name="id" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">颜色名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="size" value="{{ product_model.size }}" lay-verify="title"
                               autocomplete="off" placeholder="请输入颜色" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">颜色编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="description" value="{{ product_model.description }}" lay-verify="title"
                               autocomplete="off" placeholder="请输入编码" class="layui-input" lay-verify="required">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="size-edit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(size-edit)', function (data) {
            console.log(data.field);
            $.ajax({
                url: '/system/factory/size_management/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload('size-table');
                        });
                    } else {
                        layer.msg(result.msg, { icon: 2, time: 1000 });
                    }
                },
                error: function () {
                    layer.msg('网络或服务器错误，请稍后再试', { icon: 2, time: 1000 });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>