<!DOCTYPE html>
<html>
<head>
    <title>订单管理-出货</title>
    {% include 'system/common/header.html' %}</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">循环数：</label>
                <div class="layui-input-block">
                    <input type="text" name="orderIdsLen" autocomplete="off"
                           class="layui-input" value="{{ order_ids_len }}">
                </div>
            </div>
            {% for i in delivery_data %}
                <div class="main-container">
                    ---------------------------------------------------------------------------------------------
                    <h2>第{{ i }}个出货单</h2>
                    ---------------------------------------------------------------------------------------------
                    <div class="layui-form-item layui-hide">
                        <label class="layui-form-label">订单ID：</label>
                        <div class="layui-input-block">
                            <input type="text" name="orderId_{{ i }}" autocomplete="off"
                                   class="layui-input" value="{{ delivery_data[i].order_id }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户姓名：</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                                {{ delivery_data[i].client_name }}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">款号：</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                                {{ delivery_data[i].product_model_number }}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">订单件数：</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                                {{ delivery_data[i].order_client_number }} (件)
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">未出货：</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                                {{ delivery_data[i].backlog_quantity }} (件)
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">货期：</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" style="border:none; box-shadow:none; padding: 10px;">
                                {{ delivery_data[i].delivery_date }}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">出货数量：</label>
                        <div class="layui-input-block">
                            <input type="text" name="orderShipmentNumber_{{ i }}" lay-verify="required" autocomplete="off"
                                   placeholder="请输入出货数量(件)" class="layui-input">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="order-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(order-save)', function (data) {
            console.log(data.field);
            $.ajax({
                url: '/system/factory/order_management/delivery_update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload('order-table');
                        });
                    } else {
                        layer.msg(result.msg, { icon: 2, time: 1000 });
                    }
                },
                error: function () {
                    layer.msg('网络或服务器错误，请稍后再试', { icon: 2, time: 1000 });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>