<!DOCTYPE html>
<html>
<head>
    <title>财务统计-客户回款</title>
    {% include 'system/common/header.html' %}</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">年月</label>
                <div class="layui-input-inline">
                    <input type="text" name="yearMonth" id="yearMonth" placeholder="请选择年月" autocomplete="off"
                           class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="finance-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="other-table" lay-filter="other-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="finance-other-table">
    {% if authorize("system:finance_statistics:client_payment:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="add"><i
                class="layui-icon"> 生成上月回款数据 </i>
        </button>
    {% endif %}
    <br>
    <span style="color: #FF5722;">说明：仅可生成订单状态为【完成订单】的回款数据，生成后将无法修改。</span>
</script>

<script type="text/html" id="finance-bar">
    {% if authorize("system:finance_statistics:client_payment:edit") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
                class="layui-icon"> 设置 </i>
        </button>
    {% endif %}
    {% if authorize("system:finance_statistics:client_payment:detail") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="detail"><i
                class="layui-icon"> 详情 </i>
        </button>
    {% endif %}
</script>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;
        let common = layui.common;

        let MODULE_PATH = '/system/factory/finance_statistics/client_payment/'

        let cols = [
            [
                {title: '序号', type: 'numbers', align: 'center'},
                {title: '年份', field: 'year', align: 'center'},
                {title: '月份', field: 'month', align: 'center'},
                {title: '客户姓名', field: 'client_name', align: 'center'},
                {title: '客户属性', field: 'client_type', align: 'center'},
                {title: '应收款金额', field: 'receivable', align: 'center'},
                {title: '已收款金额', field: 'received', align: 'center'},
                {title: '应付款金额', field: 'payable', align: 'center'},
                {title: '已付款金额', field: 'paid', align: 'center'},
                {title: '待收款/待付款金额', field: 'balance', align: 'center'},
                {title: '操作', toolbar: '#finance-bar', align: 'center', width: 240}
            ]
        ]

        table.render({
            elem: '#other-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#finance-other-table',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        })

        table.on('tool(other-table)', function (obj) {
            var data = obj.data;
            var client_type = data.client_type;
            var is_settle = data.is_settle;
            if (obj.event === 'detail') {
                if (client_type === '订单客户'){
                    window.location.href = '/system/factory/finance_statistics/client_payment/detail/order_client/' + obj.data['id']
                } else if (client_type === '外发客户'){
                    window.location.href = '/system/factory/finance_statistics/client_payment/detail/external_client/' + obj.data['id']
                } else if (client_type === '协作客户') {
                    window.location.href = '/system/factory/finance_statistics/client_payment/detail/partner_client/' + obj.data['id']
                }
            } else if (obj.event ==='edit') {
                if (is_settle === true){
                    if (client_type == '订单客户'){
                        layer.msg(data.year + '年' + data.month + '月，客户【' + data.client_name + '】的尾款已全部结清，无法进行操作！', {icon: 2, time: 1000})
                    } else {
                        layer.msg(data.year + '年' + data.month + '月，客户【' + data.client_name + '】已全部结清，无法进行操作！', {icon: 2, time: 1000})
                    }
                } else {
                   window.edit(obj)
                }
            }
        })

        table.on('toolbar(other-table)', function (obj) {
            if (obj.event === 'add') {
                window.add(obj)
            }
        })

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '设置--' + obj.data['client_name'],
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            })
        }

        form.on('submit(finance-query)', function (data) {
            table.reload('other-table', {where: data.field})
            return false
        })

        window.add = function (obj) {
            layer.confirm('确认生成回款数据？', {icon: 3, title: '提示'}, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({
                    url: MODULE_PATH + 'save',
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('other-table')
                            })
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000})
                        }
                    }
                })
            })
        }

        window.refresh = function () {
            table.reload('other-table')
        }
    })
</script>
<script>
    layui.use('laydate', function () {
        let laydate = layui.laydate;
        let $ = layui.$;

        laydate.render({
            elem: '#yearMonth',
            type: 'month',
        });

        $(document).dblclick(function(e){
            var target = $(e.target);
            if(target.hasClass('laydate-day') && !target.hasClass('laydate-disabled')){
                var date = target.text();
                var input = target.closest('.laydate').prev();
                laydate.now(new Date(date));
                input.val(date);
            }
        });
    });
</script>
</html>