<!DOCTYPE html>
<html xmlns="">
<head>
    <title>裁床单管理-详情</title>
    {% include 'system/common/header.html' %}</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="cutting-table" lay-filter="cutting-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="cutting-toolbar">
    <button lay-event="back-button" class="pear-btn gray-btn pear-btn-md">
        <i class="layui-icon layui-icon-return"></i>
    </button>
    {% if authorize("system:cutting_bed:detail:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
    {% endif %}
</script>

<script type="text/html" id="cutting-bar">
    {% if authorize("system:cutting_bed:detail:edit") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
                class="layui-icon layui-icon-edit"> 修改 </i>
        </button>
    {% endif %}
</script>

{% include 'system/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let popup = layui.popup

        let MODULE_PATH = '/system/factory/cutting_bed_management/detail/yes/'

        var defaultCuttingId = {{ cutting_id }};

        // 使用 JavaScript 设置隐藏 input 元素的值
        $('input[name="id"]').val(defaultCuttingId);

        let cols = [
            [
                {title: '序号', type: 'numbers', align: 'center'},
                {title: '款号', field: 'product_model_number', align: 'center'},
                {title: '扎号', field: 'bundle_code', align: 'center'},
                {title: '颜色', field: 'name', align: 'center'},
                {title: '裁货数量', field: 'quantity', align: 'center'},
                {title: '尺码', field: 'size', align: 'center'},
                {title: '操作', toolbar: '#cutting-bar', align: 'center', width: 316}
            ]
        ]

        table.render({
            elem: '#cutting-table',
            url: '/system/factory/cutting_bed_management/detail/data/' + {{ cutting_id }},
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#cutting-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
            scroll: true,
            fixed: 'table'
        })

        table.on('tool(cutting-table)', function (obj) {
             if (obj.event === 'edit') {
                window.edit(obj)
            }
        })

        table.on('toolbar(cutting-table)', function (obj) {
            if (obj.event === 'add') {
                window.add()
            } else if (obj.event === 'refresh') {
                window.refresh()
            } else if (obj.event === 'back-button') {
                window.history.back()
                table.reload('cutting-table', {
                   url: '/system/factory/cutting_bed_management/data'
                });
            }
        })

        form.on('submit(cutting-query)', function (data) {
            table.reload('cutting-table', {where: data.field})
            return false
        })

        window.edit = function (obj) {
            console.log(MODULE_PATH + 'edit/' + obj.data['id'])
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            })
        }

        window.add = function (obj) {
            layer.open({
                type: 2,
                title: '新增裁床单详细',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'add/' + {{ cutting_id }}
            })
        }

        window.refresh = function () {
            table.reload('cutting-table')
        }
    })
</script>
</html>